<div class="row">
  <div class="col-auto">
    <h2>welcome, {{name}}!</h2>
  </div>
</div>

  {{#each posts as |post| }}
  <div class="card mx-auto">
    <div class="card-header">
      <a href="/postUpdate/{{post.id}}"><strong>{{post.title}}</strong></a>
      <div>{{format_date post.date_created}}</div>
    </div>
  </div>
  {{/each}}

  <div class="mx-auto mt-5">
    <a class="btn btn-primary" href="/postpost">post a new post</a>
  </div>
