<div class="row">
  <div class="col-auto">
    <h2>welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>create a new post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-text">text:</label>
        <textarea class="form-input" id="post-text" name="post-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">create</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>
