<div class="card mx-auto">
    <div class="card-header">
        <div>edit post</div>
    </div>
    <div class="card-body">
        <form class="form mx-auto" id="editForm" postid={{id}}>
            <div>
                <textarea class="form-control" id="editPostTitle" rows="1">{{title}}</textarea>
            </div>
            <div>
                <textarea class="form-control" id="editPostText" rows="5">{{text}}</textarea>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">repost post</button>
                <button class="btn btn-primary" id="deletePost">unpost post</button>
            </div>
        </form>
    </div>
</div>